.chat-container::-webkit-scrollbar {
  width: 0px;
  opacity: 0; /* Start with scrollbar hidden */
  transition: opacity 0.3s ease; /* Add transition for fade effect */
}

.chat-container:hover::-webkit-scrollbar,
.chat-container:focus::-webkit-scrollbar {
  display: block;
  width: 10px;
}

.chat-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  transition: background 0.3s ease; /* Add transition */
}

.chat-container.scrolling::-webkit-scrollbar-thumb {
  background: #555;
  opacity: 1; /* Ensure scrollbar thumb is fully visible when scrolling */
}
